<aside class="main-sidebar" style="height:auto;min-height:100%">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- search form (Optional) -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu tree" data-widget="tree">
            <li class="header">TABLE OF CONTENTS</li>
            <li>
                <a href="/docs/2.4/installation"><i class="fa fa-microchip"></i> <span>Installation</span></a>
            </li>
            <li>
                <a href="/Layout/From">
                    <i class="fa fa-handshake-o"></i>
                    <span>表单布局</span>
                </a>
            </li>
            <li>
                <a href="/docs/2.4/layout"><i class="fa fa-files-o"></i> <span>Layout</span></a>
            </li>
            <li class="treeview active menu-open">
                <a href="#">
                    <i class="fa fa-th"></i> <span>Components</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="/docs/2.4/main-header"><i class="fa fa-circle-o"></i> Main Header</a>
                    </li>
                    <li class="active">
                        <a href="/docs/2.4/sidebar"><i class="fa fa-circle-o"></i> Sidebar</a>
                    </li>
                    <li>
                        <a href="/docs/2.4/control-sidebar"><i class="fa fa-circle-o"></i> Control Sidebar</a>
                    </li>
                    <li>
                        <a href="/docs/2.4/boxes"><i class="fa fa-circle-o"></i> Box</a>
                    </li>
                    <li>
                        <a href="/docs/2.4/info-box"><i class="fa fa-circle-o"></i> Info Box</a>
                    </li>
                    <li>
                        <a href="/docs/2.4/direct-chat"><i class="fa fa-circle-o"></i> Direct Chat</a>
                    </li>
                </ul>
            </li>
            <li class="treeview ">
                <a href="#">
                    <i class="fa fa-code"></i> <span>JavaScript</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="/docs/2.4/js-layout"><i class="fa fa-circle-o"></i> Layout</a>
                    </li>
                    <li>
                        <a href="/docs/2.4/js-push-menu"><i class="fa fa-circle-o"></i> Push Menu</a>
                    </li>
                    <li>
                        <a href="/docs/2.4/js-tree"><i class="fa fa-circle-o"></i> Tree</a>
                    </li>
                    <li>
                        <a href="/docs/2.4/js-control-sidebar"><i class="fa fa-circle-o"></i> Control Sidebar</a>
                    </li>
                    <li>
                        <a href="/docs/2.4/js-box-widget"><i class="fa fa-circle-o"></i> Box Widget</a>
                    </li>
                    <li>
                        <a href="/docs/2.4/js-box-refresh"><i class="fa fa-circle-o"></i> Box Refresh</a>
                    </li>
                    <li>
                        <a href="/docs/2.4/js-todo-list"><i class="fa fa-circle-o"></i> Todo List</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/docs/2.4/browser-support"><i class="fa fa-chrome"></i><span>Browser Support</span></a>
            </li>
            <li>
                <a href="/docs/2.4/upgrade-guide"><i class="fa fa-hand-o-up"></i><span>Upgrade Guide</span></a>
            </li>
            <li>
                <a href="/docs/2.4/implementations"><i class="fa fa-bookmark-o"></i><span>Implementations</span></a>
            </li>
            <li>
                <a href="/docs/2.4/faq"><i class="fa fa-question-circle-o"></i> <span>FAQ</span></a>
            </li>
            <li>
                <a href="/docs/2.4/license"><i class="fa fa-file-text-o"></i> <span>License</span></a>
            </li>
        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>