
@{
    ViewBag.Title = "AjaxDemo";
}
@section breadcrumb
{
<div class="content-header">
    <h1>
        Demo
        <small>表单布局</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li class="active">ajax</li>
    </ol>
</div>
    }
<h2>AjaxDemo</h2>

